<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.worldventures.dreamtrips" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />


    <application
        android:name=".DTApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_dt_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.DreamTripsTheme"
        tools:replace="android:icon" >
        <activity
            android:name=".view.activity.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".view.activity.CreatePhotoActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".view.activity.LaunchActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".core.uploader.UploadingService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>

